* {
  margin: 0;
  font-size: 0;
}

body {
  background-color: rgb(29, 22, 29);
}

#playButton {
  background-color: rgb(235, 200, 135);
  width: 200px;
  height: 100px;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 30%;
}
