* {
  margin: 0;
  font-size: 0;
}

body {
  background-color: rgb(29, 15, 29);
}

.button {
  background-color: rgb(235, 200, 135);
  height: 100px;
  width: 30%;
  font-size: 70px;
  color: white;
  position: absolute;
  left: 35%;
}

#playButton {
  top: 30%;
}

#optionsButton {
  top: 40%;
}

#quitButton {
  top: 50%;
}
